<html>
  <head>
    <style>
      body {
        background: <%= color %>;
        padding-top: 100px;
        text-align:center;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
	</form>
  <p><%= message %></p>
  </body>
</html>